# Ludrix — nunca versionar
data/
games/
emulation/
downloads/
themes/*.lxtheme
release/
build/
dist/
__pycache__/
*.pyc
*.pyo
*.log
app/integrity.json
app/pyc.json
*.key
chave/
tools/cache/
casca/
*.lxup
Thumbs.db
desktop.ini
